/* TODO: */
.uiEditorArea {
  display: flex;
  flex-direction: row;
}

.uiEditorArea>nav {
  width: 100px;
  height: 100%;
  overflow: auto;
  background-color: chartreuse;
}

.uiEditorArea>main {
  flex: 1;
  height: 100%;
  overflow: auto;
}