main {
  display: block;
  height: calc(100% - 21px - 25px);
}

tbody td {
  & label {
    display: inline-block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  & :hover {
    background-color: sandybrown;
  }
}

tfoot td {
  text-align: center;
}

.rdo-wrap-btn {
  padding: 0 4px;

  & label {
    display: inline-block;
      padding: 2px 4px;
  }
}

.td-rdo-chk {
  padding: 5px;
}

#fdsList {
  float: left;
  height: 100%;
  display: block;
  overflow: auto;

  & nav > ul > li > button {
    padding: 10px;
    min-width: 64px;
  }
}

#fdsOne {
  float: left;
  height: 100%;
  overflow: auto;
}

.btn-clicked {
  background-color: gold;
}

.rdochk-checked {
  background-color: aqua ;
}

.ok {
  background-color:green;
}

.ok-ng {
  background-color: greenyellow;
  font-weight: bolder;
}

.ng {
  background-color: hotpink;
}

.hide {
  display: none;
}

/*.key, /*debug*/
.highlight {
  color: red;
  font-weight: bolder;
  background-color: yellow;
}

#btnOK {
  width: 108px;
  height: 36px;
}

#btnShowKey {
  padding-left: 10px;
  padding-right: 10px;
}

#btnBKQ, #btnSaveQ {
  width: auto;
  padding: 0 6px;
}